
// Colors
$primary: #276daa;
$secondary: #00acc7;
$warning: #fc5c61;
$light: #e9f6f9;
$link-color: $primary;

// Typography
$font-size-base: 1rem;
$line-height-base: 1.6;
$font-family-base: Arial,Tahoma,Verdana,sans-serif;
$headings-color: $primary;
$headings-secondary: black;

// input
$input-border-color: #00acc7;
$input-color: #00acc7;
$custom-select-indicator-color: #00acc7;

// container
$grid-gutter-width: 3rem;

// border
$border-radius: 0.25rem;

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
